@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ´Quicksand´, sans-serif;
    
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f0f0f0;
    color: #fff;

}

.card{
    position: absolute;
    width: 480px;
    color: #fff;
    background: rgb(0, 0, 0.43);
    border-radius: 1rem;
    padding: 1.3rem 1.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.2px);
    -webkit-backdrop-filter: blur(0.8px);
    border: 1px solid #ffffff20;
}

.card header{
    cursor: all-scroll;
    text-align: center;
    user-select: none;
    padding: 1.5rem;
    border-bottom: 1px solid #ffffff20;
    font-weight: 800;
}

.card .card-body{
    padding: 1.5rem;
    border-bottom: 3px solid #ffffff20;
}

.card .card-body .logo{
    align-items: center;
    width: ;
    
}